
#GameDiv{
    margin-top: 75px;
    margin-left: 3%;

}
.grid{
    display: grid;
    width: 100%;
    grid-template-columns: auto auto auto;
    color: white;
}
.UserNameDiv{

    font-family: Poppins-Regular;
    font-size: 30px;
    color: white;
    backdrop-filter: blur(10px);

}
#canvas{
    box-shadow: 1px 1px 15px silver;
    background: white;

}
label[for="lblScore"]{
    background-color: black;
}
label[for="lblTime"]{
    background-color: black;
}

#lblScore{
    width: 70%;
}
#lblTime{
    width: 70%;
}
#lblLive{
    width: 70%;
}

#tableSettings{  
    border: 1px solid #ddd;
    text-align: left;
    border-collapse: collapse;
    width: 100%;
    backdrop-filter: blur(10px);
  }
.settTd {  
    border: 1px solid #ddd;
    text-align: left;
    padding: 5px;
}

#valuesInputGame{
    border: 1px solid #ddd;
    text-align: left;
    border-collapse: collapse;
    width: 80%;
    backdrop-filter: blur(10px);
}
#restart{
    margin-left: 5%;
}

  