.Settings-container{
  margin-top: 3%;
  width: 100%; 
  height: auto;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.Settings-form {
  width: 850px;
  background-color: #1e1e1f;
}

.Settings-form-title {
  width: 100%;
  display: block;
  font-family: Poppins-Regular;
  font-size: 30px;
  color: #e4ecee;
  line-height: 1.2;
  text-align: center;
}
.Settings-frame{
  margin-top: 3%;
  
  padding: 5px 5px 5px 5px;
  background-color: rgb(137, 142, 150);
}

button[type=button]{
border: none;
padding: 0.6em 1em;
background: black;
color: #00e1ff;
font-family: 'Open Sans',sans-serif;
font-size: 1em;
letter-spacing: 1px;
text-transform: uppercase;
cursor: pointer;
  display: inline-block;
  font-weight: bold; 

border-radius: 2px;
box-shadow: inset 0 0 5px #939aa000,
      inset 0 0 10px #97aabb65,
      inset 0 0 15px #b1b3b4;
width: 80%;
font-size: 16px;
}

#registerSubmit{
  margin-left: 10%;
}
#loginSubmit{
  margin-left: 10%;
}

button[type=button]:hover {
background: rgba(255, 255, 255, 0.479);
}

.grid-container-BallsAndShiftButtuns {
    display: grid;
    grid-template-columns: auto;
    padding: 10px;
}
  .grid-container-MonsterAndTime {
    display: grid;
    
    grid-template-columns: auto auto;
    padding: 10px;
  }
  .grid-container-Buttons{
    display: grid;
    grid-template-columns: auto auto;
    padding: 5px;
  }
    
  .grid-item-BallsAndShiftButtuns {
    padding: 5px;
    margin: auto;
    background-color: rgba(233, 51, 121, 0.8);
    border: 1px solid white;
    text-align: center;
    height: 100%;
    width: 50%;
    
  }
  .grid-item-MonsterAndTime {
    margin: auto;
    align-self: center;
    background-color: rgba(233, 51, 121, 0.8);
    border: 1px solid white;
    padding: 20px;
    text-align: lefts;
    font-size: 20px;
    font-weight: bold;
    text-decoration: underline;
    font-family: Poppins-Regular;
  }
  .grid-item-Buttons {
    margin: auto;
    align-self: center;
    padding: 10px;
    font-size: 30px;
    text-align: center;
  }

  label[type=BallsAndShift]{
    font-size: 20px;
    font-weight: bold;
    text-decoration: underline;
    font-family: Poppins-Regular;
  }

  table{
    margin: auto;
  }

  tr{
    font-size: 20px;
    font-family: Poppins-Regular;
  }
  .grid-item-BallsAndShiftButtuns label[type=colors]{
    font-size: 20px;
    font-weight: bold;
    text-decoration: underline;
    font-family: Poppins-Regular;
  }
  


.key__button {
  box-sizing: border-box;
  font-size: 16px;
  text-align: center;
  width: 50px;
  color: #555;
  cursor: pointer;
  margin: 0 8px;
  height: 50px;
  border-color: #f2f2f2;
  border-style: solid;
  text-shadow: 0 0.5px 1px #777, 0 2px 6px #f2f2f2;
  border-width: 1px;
  border-radius: 10px;
  background: -webkit-linear-gradient(top, #f9f9f9 0%, #D2D2D2 80%, #c0c0c0 100%);
  font-family: sans-serif;
  display: inline-block;
  transition: box-shadow 0.3s ease, transform 0.15s ease;
  box-shadow: 0 0 1px #888,0 1px 0 #fff, 0 6px 0 #C0C0C0, 0 8px 17px rgba(#444, 0.4), 2px 1px 4px rgba(#444, 0.25), -2px 1px 4px rgba(#444, 0.25), 0 9px 16px rgba(#444, 0.1);
}

.key__button :hover:focus {
    box-shadow: 0 0 1px #888,0 1px 0 #fff, 0 4px 0 #C0C0C0, 0 2px 35px rgba(#444, 0.3), 2px 2px 4px rgba(#444, 0.25), -2px 2px 4px rgba(#444, 0.25), 0 7px 4px rgba(#444, 0.1);
    transform: translateY(2px);
  }
  
  .key__button :active {
    box-shadow: 0 0 1px #888,0 1px 0 #fff, 0 0 0 #C0C0C0, 0 0px 30px rgba(#444, 0.15), 2px 2px 4px rgba(#444, 0.25), -2px 2px 4px rgba(#444, 0.25), 0 0px 4px rgba(#444, 0.25);
    transform: translateY(4px); 
  }
