*{
    margin: 5% auto;
    box-sizing: border-box;
    font-family: 'Montserrat',sans-serif;
    scroll-behavior: smooth;
    text-align: center;
}
  body{
    background-image: url("background.gif");
    background-size: cover;
  }
  button{
    top: 50%;
    background-color: #f1f1f1;
    font-size: 16px;
    padding: 20px 40px;
    border-radius: 5px;
    text-align: center;
    width: 30%;
    display: flex;
    font-weight: bold; 
    background: #000 repeat-y;
    color: #0089f2;
    box-shadow: inset 0 0 5px #0a87f5,
                inset 0 0 10px #85c3fa,
                inset 0 0 15px #b6dbfc;  
    font-family: 'Open Sans',sans-serif;
  }
  button:hover {
    background-color: white;
    color: black;
  }
  body::selection{
    color: white;
  }
  body::-webkit-scrollbar{
    width: 16px;
  }
  body::-webkit-scrollbar-track{
    background: #e6e6e6;
    border-radius: 10px;
    box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
  }
  body::-webkit-scrollbar-thumb{
    border-radius: 10px;
    box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    background: linear-gradient(#3498db,#9b59b6);
  }
  body::-webkit-scrollbar-thumb:hover{
    background: linear-gradient(#2691d9,#954eb1);
  }